<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<link rel="stylesheet" href="{% static 'edit_blog_html.css' %}">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="{% url 'edit_blog_submit' %}" method="post">
      {% csrf_token %}
      <label for="title">Blog</label>
      <br>
      <input type="hidden" name="id" value="{{ user.blog_id }}">
      <textarea name="blog" rows="8" cols="80">{{ user.blog }}</textarea>
      <br>
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
